# Default ignored files
/workspace.xml

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/AutorizadorInterceptorAdapter.class
/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/AutorizadorInterceptorAdapter1.class
/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/Divida.class
/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/Divida1.class
/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/dividas-0.0.1-SNAPSHOT.war
/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/Encription.class
/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/Encription1.class
/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/Functions.class
/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/Functions1.class
/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/Renda.class
/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/Renda1.class
/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/RendaDao.class
/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/RendaDao1.class
/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/shelved.patch
/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]1/shelved.patch
/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/SistemaController.class
/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/SistemaController1.class
/shelf/Uncommitted_changes_before_rebase__Default_Changelist_.xml
/shelf/Uncommitted_changes_before_rebase__Default_Changelist_1.xml
/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/Usuario.class
/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/Usuario1.class
/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/UsuarioController.class
/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/UsuarioController1.class
/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/UsuarioDao.class
/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/UsuarioDao1.class
